1.What are the two values of the Boolean data type? How do you write them?

In [ ]:
x=10
y=23

In [ ]:
x<y

True

In [ ]:
x>y

False

2. What are the three different types of Boolean operators?

AND ,OR,NOT

3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate ).

In [1]:
x=int(input("enter no: "))
y=int(input("enter no: "))

if x==1 and y==1:
  print("and:", "1")
else:
  print("and:" ,"0")

enter no: 1
enter no: 1
and: 1

In [4]:
x=int(input("enter no: "))
y=int(input("enter no: "))
if x==0 and y==0:
  print("or:", "0")
else:
  print("or:" ,"1")

enter no: 1
enter no: 0
or: 1

In [7]:
x=int(input("enter no: "))
if x==1:
  print("not:", "0")
else:
  print("not:", "1")

enter no: 0
not: 1

4. What are the values of the following expressions?
(5 &gt; 4) and (3 == 5)
not (5 &gt; 4)
(5 &gt; 4) or (3 == 5)
not ((5 &gt; 4) or (3 == 5))
(True and True) and (True == False)
(not False) or (not True)

In [23]:
(5 > 4) and (3 == 5)

False

In [25]:
not (5 > 4)

False

In [26]:
(5 > 4) or (3 == 5)

True

In [28]:
not((5 > 4) or (3 == 5))

False

In [29]:
(True and True) and (True == False)

False

In [30]:
(not False) or (not True)

True

5. What are the six comparison operators?

1.>

2.<

3.=

4.!=

5.>=

6.<=

6. How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.

In [42]:
x=int(input("enter no: "))
y=int(input("enter no: "))

enter no: 0
enter no: 5

In [43]:
if x==10:
  print("equal")
elif x>=10:
  print("grt_equal")
elif y<=5:
  print("less_equal")
else:
  pass

less_equal

7. Identify the three blocks in this code:
spam = 0
if spam == 10:
print(&#39;eggs&#39;)
if spam &gt; 5:
print(&#39;bacon&#39;)
else:
print(&#39;ham&#39;)
print(&#39;spam&#39;)
print(&#39;spam&#39;)



if spam == 10:
print(&#39;eggs&#39;)   --> block1

if spam &gt; 5:
print(&#39;bacon&#39;) --> block2

else:
print(&#39;ham&#39;)
print(&#39;spam&#39;)
print(&#39;spam&#39;)--->block3

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [44]:
spam=int(input("enter no: "))

if spam==1:
  print("hello")
elif spam==2:
  print("Howdy")
else:
  print("Greetings!")

enter no: 2
Howdy

9.If your programme is stuck in an endless loop, what keys you’ll press?

In [ ]:
ctrl+c

10. How can you tell the difference between break and continue?

In [47]:
for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

In [49]:
for i in range(10):
  if i==5 or i==7:
    continue
  print(i)

0
1
2
3
4
6
8
9

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

range(0,10)-->0-9

range(10)-->1-9

range(0,10,1)--->0-9 (1 is step size and this is exclusive in nature)

In [50]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [51]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [52]:
for i in range(0,10,1):
  print(i)

0
1
2
3
4
5
6
7
8
9

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.

In [54]:
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after
importing spam?

In [ ]:
 spam().bacon()