Q.1. What are keywords in python? Using the keyword library, print all the python keywords.

some predefined and reserved words in Python that have special meanings

In [1]:
import keyword

In [2]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

Q.2. What are the rules to create variables in python?

A variable name must start with a letter or the underscore character

A variable name cannot start with a number

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )


Variable names are case-sensitive

A variable name cannot be any of the Python keywords.

Q.3. What are the standards and conventions followed for the nomenclature of variables in Python to improve code readability and maintainability?


Instance variable names should follow the lowercase convention. Have the underscore as a separator while naming a multi-word instance variable. Begin a non-public instance variable name with a single underscore. Use two consecutive underscores at the beginning of an instance variable.

Q.4. What will happen if a keyword is used as a variable name?


We'll get a SyntaxError if we try to do that

In [3]:
True=10

SyntaxError: ignored

Q.5. For what purpose def keyword is used?

Python def keyword is used to define a function

Q.6. What is the operation of this special character ‘\’?

 It is used in representing certain whitespace characters

Q.7. Give an example of the following conditions:
(i) Homogeneous list
(ii) Heterogeneous set
(iii) Homogeneous tuple

In [8]:
Homogeneous_list=[1,2,2,3,4,3]

In [9]:
Homogeneous_list

[1, 2, 2, 3, 4, 3]

In [10]:
Heterogeneous_set={"a",12,40.35,True}

In [11]:
Heterogeneous_set

{12, 40.35, True, 'a'}

In [13]:
Homogeneous_tuple=(12,4,2,34,2,32)

In [14]:
Homogeneous_tuple

(12, 4, 2, 34, 2, 32)

Q.8. Explain the mutable and immutable data types with proper explanation & examples.

tuple and is immutable and list and dictionary are mutable, here we perform 3 oparations

1.update

2.insert

3.delete

In [15]:
tuple=(12,3,42)

In [16]:
list=[12,34,21]

In [ ]:
we cant edit tuple and set.

In [19]:
list.insert(2,89)

In [20]:
list

[12, 34, 89, 21]

Q.9. Write a code to create the given structure using only for loop.

In [25]:
for i in range(6):
  for j in range(10):
    if j>=6-i and j<=4+i:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

Q.10. Write a code to create the given structure using while loop.

In [45]:
rows = int(input("Enter Inverted Pyramid Pattern Rows = "))
i = rows
while(i >= 1):
    j = 0
    while(j <= rows - i):
        print(end = ' ')
        j = j + 1
    k = 0
    while(k < i):
        print('|', end = ' ')
        k = k + 1
    i = i - 1
    print()

Enter Inverted Pyramid Pattern Rows = 9
 | | | | | | | | |
  | | | | | | | |
   | | | | | | |
    | | | | | |
     | | | | |
      | | | |
       | | |
        | |
         |